.upper{
    background-image: url('../images/background001.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 730px;
    position: relative;
}

.upper-content{
    margin: auto;
    width: 70%;
    position: relative;
}

